body {
    font-family: Arial, sans-serif;
    margin: 0;
    position: sticky;
    display: block;
    flex-direction: column;
    align-items: center;
    min-width: 320px;
    min-height: 100vh;
    background-color: #f4f4f9;
    color: #333;
    font-family: 'Inter', system-ui, Avenir, Helvetica, Arial, sans-serif;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

header {
    display: block;
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-self: left;
    background-color: #111827;
    padding: 10px 10px;
    width: 93%;
    position: fixed;
    top: 0;
    z-index: 1000;
    box-shadow: 0 4px 6px rgb(19, 35, 48);
}

section {
    margin-bottom: 40px;
}

h1 {
    font-size: 2.5em;
    color: #111827;
}

p {
    font-size: 1.1em;
    color: #4B5563;
}

button {
    background-color: rgb(33, 165, 141);
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
    font-size: 1em;
    cursor: pointer;
    transition: background-color 0.3s;
    margin: 10px;
}

button:hover {
    background-color: rgb(8, 240, 198);
}

.card {
    background-color: white;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    text-align: center;
    width: 50%;
}

.icon {
    width: 50px;
    height: 50px;
    margin-bottom: 10px;
}