.form-container {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.form-group input {
    padding: 8px;
    margin: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.submit-button {
    width: fit-content;
    background-color: #4CAF50;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

.submit-button:hover {
    background-color: #45a049;
}


.card {
    width: fit-content;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-bottom: 20px;
}

.card img.icon {
    padding: 10px;
    width: 50px;
    height: 50px;
    margin-bottom: 20px;
}

.card h2 {
    margin: 0;
    font-size: 20px;
    color: #333;
    margin-bottom: 10px;
}

.card p {
    margin: 0;
    color: #555;
}

.card p.languages {
    font-weight: bold;
    color: #000;
    margin-bottom: 10px;
}
