.signup-container {
  width: 100%;
  max-width: 600px;
  margin: 5px auto;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.signup-container h1,
.signup-container h3 {
  text-align: center;
}

.signup-form {
  display: flex;
  flex-direction: column;
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  font-weight: bold;
}

.form-group input[type="text"],
.form-group textarea {
  width: 96%;
}

.form-group input[type="email"],
.form-group input[type="password"],
.form-group input[type="text"],
.form-group textarea {
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.form-group input[type="file"] {
  margin-top: 5px;
  margin-left: 20px;
}

.error {
  color: red;
  font-size: 12px;
}

.center {
  margin: auto;
  width: 100%;
  align-items: center;
  text-align: center;
}

button[type="submit"] {
  width: 50%;
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

button[type="submit"]:hover {
  background-color: #0056b3;
}